<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="public/header :: publiceCss"></div>
</head>
<body>
<div th:replace="public/header :: publicNav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-pencil"></span>发布</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="标题"
                           th:value="${title}">
                </div>
                <div class="form-group">
                    <label for="description">描述</label>
                    <textarea class="form-control" cols="30" rows="10" id="description" name="description"
                              th:value="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">标签</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="标签" th:value="${tag}">
                </div>
                <span class="alert alert-danger" th:if="${error != null}" th:text="${error}"></span>
                <button type="submit" class="btn btn-success btn-publish">提交</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>daihsdh</h3>
            <ul>
                <li>asdasd</li>
                <li>asdasdas</li>
                <li>dasdsfasdf</li>
                <li>asdfasdfas</li>
                <li>sdfiashfd</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>